.div{
	background-color:tan;
	height:100px;
	font-family:Arial, sans-serif;
	color:white;
	font-weight:bold;
	text-align:center;
}
.p{
	position:relative;
	top:30px;
	font-size:30px
}
.normi{
	font-family:Arial, sans-serif;
	font-size:10px
}
.com{
	color:white;
	position:relative;
	font-family:Arial, sans-serif;
	font-weight:bold;
	bottom:10px
}
#grande{
	font-family:Arial, sans-serif;
	font-size:35px;
}
#est{
	font-family:Arial, sans-serif;
	font-size:35px;
}
#sanbe{
}
#carro{
}
#cam{
}
#lla{
}
.pro{
	font-family:Arial, sans-serif;
	font-size:35px;
}
.cosa{
	font-family:Arial, sans-serif; 
	font-size:30px; 
	position:relative; 
	left:380px;
	border:2px solid
}
.titulos{
	font-family:Arial, sans-serif; 
	font-size:30px; 
	color:peru; 
	text-align:center
}
.todo{
	background-color:tan
}
.produ{
	color:maroon;
	font-size:30px;
	font-family:Arial, sans-serif
}
.k{
	font-size:40px;
	color:peru;
	font-family:Arial, sans-serif
}
.j{
	position:relative;
	margin-left:50px;
}