.div{
	background-color:tan;
	height:100px;
	font-family:Arial, sans-serif;
	color:white;
	font-weight:bold;
	text-align:center;
}
.p{
	position:relative;
	top:30px;
	font-size:30px
}
.normi{
	font-family:Arial, sans-serif;
	font-size:10px
}
.com{
	color:white;
	position:relative;
	font-family:Arial, sans-serif;
	font-weight:bold;
	bottom:10px
}
#grande{
	font-family:Arial, sans-serif;
	font-size:35px;
}
#est{
	font-family:Arial, sans-serif;
	font-size:35px;
}
#sanbe{
}
#carro{
}
.pro{
	font-family:Arial, sans-serif;
	font-size:35px;
}