table, tr, th, td{
	border:2px, solid;
	font-family: Arial, sans-serif;
	margin:10px
}
th{
	font-size:18px;
	background-color: turquoise;
}
td{
	background-color: PaleTurquoise;
}
td:first-of-type{
	background-color:violet;
}
td:last-of-type{
	background-color:teal;
	color:white
}
h1, p{
	font-family:Arial, sans-serif;
	font-weight:bold
}
